<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<body>
	<th:block layout:fragment="content">
		<div id="breadCrumb">
			<div id="breadCrumbCon">
				<ul>
					<li>
						<a href="/main">
							<img src="/images/home.png" alt="메인 페이지" class="bread-img">
							Home
						</a>
					</li>
					<li>
						<a href="/trfcstats/velocity" th:text="#{menu.main.trafficDB}">
							공지사항
						</a>
					</li>
					<li>
						<a href="/trfcstats/congestionrate" class="on" th:text="#{menu.sub.trafficDB.congestionrate}">
							상세페이지
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="container">
			<div id="CmLeftMenu">
				<div id="CmLeftTitle" th:text="#{menu.main.trafficDB}">
					교통DB
				</div>
				<div id="detailCmList">
					<ul>
						<li>
							<a href="/trfcstats/velocity" class="detail-cm-btn">
								<span th:text="#{menu.sub.trafficDB.velocity}">속도</span>
								<img src="/images/cm_arrow.png" alt="더 보기" class="left-cm-arrow">
							</a>
						</li>
						<li>
							<a href="/trfcstats/trafficvolume" class="detail-cm-btn">
								<span th:text="#{menu.sub.trafficDB.trafficvolume}">교통량</span>
								<img src="/images/cm_arrow.png" alt="더 보기" class="left-cm-arrow">
							</a>
						</li>
						<li>
							<a href="/trfcstats/congestionrate" class="detail-cm-btn">
								<span th:text="#{menu.sub.trafficDB.congestionrate}">혼잡도</span>
								<img src="/images/cm_arrow.png" alt="더 보기" class="left-cm-arrow">
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div id="containerTable">
				<div id="cmTableTitle">
					<h3 th:text="#{menu.sub.trafficDB.congestionrate}">혼잡도</h3>
				</div>
				<div id="cmChartFilter">
					<form id="searchForm" class="chart-filter-form" name="searchForm" action="/trfcstats/congestionrate"
						method="get">
						<dl class="chart__filter">
							<dt th:text="#{statistics.search.selectYear}">년도선택</dt>
							<dd>
								<div class="cm-select-box">
									<select class="cm-table-select chart-select">
										<option>2024년</option>
									</select>
									<img src="/images/select_arrow.png" alt="화살표" class="cm-select-img">
								</div>
							</dd>
						</dl>
						<dl class="chart__filter">
							<dt th:text="#{statistics.search.selectRoad}">도로선택</dt>
							<dd>
								<div class="select-list">
									<div class="cm-select-box">
										<select class="cm-table-select chart-select">
											<option>도로1</option>
										</select>
										<img src="/images/select_arrow.png" alt="화살표" class="cm-select-img">
									</div>
									<div class="cm-select-box">
										<select class="cm-table-select chart-select">
											<option>도로2</option>
										</select>
										<img src="/images/select_arrow.png" alt="화살표" class="cm-select-img">
									</div>
									<div class="cm-select-box">
										<select class="cm-table-select chart-select">
											<option>도로3</option>
										</select>
										<img src="/images/select_arrow.png" alt="화살표" class="cm-select-img">
									</div>
								</div>
							</dd>
						</dl>
						<dl class="chart__filter">
							<dt th:text="#{statistics.search.direction}">방향</dt>
							<dd>
								<div class="cm-select-box">
									<select class="cm-table-select chart-select">
										<option>방향</option>
									</select>
									<img src="/images/select_arrow.png" alt="화살표" class="cm-select-img">
								</div>
							</dd>
						</dl>
						<div id="filterBtnWrap">
							<button type="submit" class="is-key-button" th:text="#{common.button.search}">조회</button>
						</div>
					</form>
				</div>
				<div id="cmChartWrap">
					<div id="cmChartTitle">
						<div id="chartStatisText"><span th:text="#{statistics.congestionrate.chart}">혼잡도 통계차트</span>(<span th:text="#{statistics.unit}">단위</span> : km/h)</div>
						<button onclick="toResources()" class="is-basic-button" th:text="#{menu.sub.trafficInfo.resources}">자료실로 이동</button>
					</div>
					<div id="chartWrap">

					</div>
				</div>
				<div id="trafficTableWrap">
					<table id="chartTable">
						<thead>
							<tr>
								<td rowspan="2" th:text="#{statistics.road}">도로</td>
								<td colspan="11" th:text="#{statistics.congestion.time}">시간대별 혼잡도(%)</td>
							</tr>
							<tr>
								<td>00-01시</td>
								<td>01-02시</td>
								<td>02-03시</td>
								<td>03-04시</td>
								<td>04-05시</td>
								<td>05-06시</td>
								<td>06-07시</td>
								<td>07-08시</td>
								<td>08-09시</td>
								<td>09-10시</td>
								<td>10-11시</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A 도로</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
							</tr>
							<tr>
								<td>B 도로</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
							</tr>
							<tr>
								<td>C 도로</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
								<td>99.9</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>
<script>
	/**단속 차트***/
	new rdaChart(ChartType.LINE).init("chartWrap")
		.setData({
			labels: [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
			datasets: [{
				data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478, 2478, 2478, 2478, 2478, 2478, 2478, 2478, 2478, 2478, 2478, 2478, 2478, 2478, 2478],
				label: "도로1",
				backgroundColor:"#FF8383",
				borderColor: "#FF8383",
				fill: false
			}, {
				data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267, 5267, 5267, 5267, 5267, 5267, 5267, 5267, 5267, 5267, 5267, 5267, 5267, 5267, 5267],
				label: "도로2",
				backgroundColor: "#EBAB63",
				borderColor: "#EBAB63",
				fill: false
			}, {
				data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734, 734, 734, 734, 734, 734, 734, 734, 734, 734, 734, 734, 734, 734, 734],
				label: "도로3",
				backgroundColor: "#9DCC5C",
				borderColor: "#9DCC5C",
				fill: false
			}, 
			]
		})
		.draw();
		
		
		
		
		
		

	function toResources() {
		location.href = "/trfcinfo/resources";
	}
</script>