<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
	<th:block layout:fragment="content">
		<div id="breadCrumb">
			<div id="breadCrumbCon">
				<ul>
					<li>
						<a href="/main">
							<img src="/images/home.png" alt="메인 페이지" class="bread-img">
							Home
						</a>
					</li>
					<li>
						<a href="/about/organization" th:text="#{menu.main.about}">
							공지사항
						</a>
					</li>
					<li>
						<a href="/about/direction" th:text="#{menu.sub.about.direction}">
							상세페이지
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="container">
			<div id="CmLeftMenu">
				<div id="CmLeftTitle" th:text="#{menu.main.about}">
					기관소개
				</div>
				<div id="detailCmList">
					<ul>
<!-- 						<li> -->
<!-- 							<a href="/about/organization" class="detail-cm-btn"> -->
<!-- 								<span th:text="#{menu.sub.about.organization}">조직도</span> -->
<!-- 								<img src="/images/cm_arrow.png" alt="더 보기" class="left-cm-arrow"> -->
<!-- 							</a> -->
<!-- 						</li> -->
						<li>
<!-- 							<a href="/about/related-site" class="detail-cm-btn"> -->
<!-- 								<span>관련 사이트</span> -->
<!-- 								<img src="/images/cm_arrow.png" alt="더 보기" class="left-cm-arrow"> -->
<!-- 							</a> -->
						</li>
						<li>
							<a href="/about/direction" class="detail-cm-btn">
								<span th:text="#{menu.sub.about.direction}">오시는 길</span>
								<img src="/images/cm_arrow.png" alt="더 보기" class="left-cm-arrow">
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div id="containerTable">
				<div id="cmTableTitle">
					<h3 th:text="#{menu.sub.about.direction}">오시는 길</h3>
				</div>
				<div id="drMap">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15842.613742476986!2d79.84704726532883!3d6.931960973302852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae253d10f7a7003%3A0x320
					b2e4d32d3838d!2z7Iqk66as656R7Lm0IOy9nOuhrOuztA!5e0!3m2!1sko!2skr!4v1720071814824!5m2!1sko!2skr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
					referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div id="drInfo">
					<div class="cm-info-title">
						<h3 th:text="#{about.locationInformation}">위치 안내</h3>
					</div>
					<div id="drInfoTable">
						<dl>
							<dt th:text="#{about.adress}">주소</dt>
							<dd>경기도 파주시 아동동</dd>
						</dl>
						<dl>
							<dt th:text="#{about.directions}">오시는 방법</dt>
							<dd>텔레포트</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>
<script>
</script>