<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
	<th:block layout:fragment="content">
		<div><h1>오시는 길</h1></div>
		<!-- 	이동 편의를 위한 임시 링크	 -->
		<div><a href="/about/organization">조직도</a> <a href="/about/related-site">관련사이트</a> <a href="/about/direction">오시는 길</a></div>
		<div>--- 지도 들어가는 자리 ---</div>
		<div>승용차</div>
		<div>Colombo ▶ Amold Ratnayake Mawatha ▶ Maradana Rd/P De S Kularatne Mawatha ▶ Denzil Kobbekaduwa Mawatha Maga Naguma Maha Madura</div>
		<div>대중교통</div>
		<div>Colombo ▶ Gamini Hall ▶ Sathsiripaya ▶ Foreign Employment Bus Stop ▶ Maga Naguma Maha Madura</div>
	</th:block>
</body>
</html>
<script>
</script>