<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<body>
	<th:block layout:fragment="content">
		<div id="breadCrumb">
			<div id="breadCrumbCon">
				<ul>
					<li>
						<a href="/main">
							<img src="/images/home.png" alt="메인 페이지" class="bread-img">
							Home
						</a>
					</li>
					<li>
						<a href="/search" th:text="#{common.search.total}">
							공지사항
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="searchBanner">
			<div id="searchBannerCon">
				<div id="searchTitle" th:text="#{common.search.total}">전체 검색</div>
				<div id="searchBox">
					<!--					<select id="searchSelect">-->
					<!--						<option>전체</option>-->
					<!--					</select>-->
					<div id="searchBannerInput">
						<form id="searchForm" name="searchForm" action="/search">
							<input type="text" id="searchContent" class="search-banner-input" name="searchContent" th:value="${searchDTO.searchContent}"
								th:placeholder="#{common.search.placeholder.searchContext}" />
							<img src="/images/search.png" alt="검색버튼" id="searchBannerIcon" onclick="submit()">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="totalSearchBtnWrap">
			<input type="button" th:value="#{common.search.total}" class="search-cm-btn on" onclick="integratedSearchList()">
			<input type="button" th:each="item:${boardList}" th:value="${item.cdNm}" th:data-cd="${item.cd}" class="search-cm-btn on" th:onclick="integratedSearchList([[${item.cd}]])">
			
<!-- 			<input type="button" th:value="#{menu.sub.trafficInfo.news}" class="search-cm-btn" onclick="integratedSearchList('BTC002')"> -->
<!-- 			<input type="button" th:value="#{menu.sub.trafficInfo.resources}" class="search-cm-btn" onclick="integratedSearchList('BTC003')"> -->
<!-- 			<input type="button" th:value="#{menu.sub.guide.notice}" class="search-cm-btn" onclick="integratedSearchList('BTC001')"> -->
		</div>

		<!--전체 리스트-->
		<div id="searchList">
			
		</div>
	</th:block>
</body>

</html>
<script th:inline="javascript">
	document.addEventListener("DOMContentLoaded",function(){
		integratedSearchList(null);
	});
	
	function integratedSearchList(type){
		
		let btnList = document.querySelectorAll('.search-cm-btn');
	       
		for(let i = 0; i < btnList.length;i++){
			btnList[i].classList.remove('on');
			if(type == btnList[i].getAttribute('data-cd')){
				btnList[i].classList.add('on');			   
			}
		}
		
		const searchContent = /*[[${searchDTO.searchContent}]]*/
		const params = new URLSearchParams();
		params.append("searchContent",searchContent);
		
        if(type == null){
        	type = 'all';
        }
        
		fetch(`${__contextPath__}/search/${type}?${params.toString()}`)
		.then((response) => {
			return response.text();
		})
		.then((html) => {
			const appendDiv = document.getElementById('searchList');
			appendDiv.innerHTML = html;
		});
	}
</script>