<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="footerFragment">
	<footer>
		<div id="footerContainer">
			<div class="footer__list">
				<div class="footer__list_title footer__list_text">
					Road Development Authority
				</div>
				<div class="footer__list_text">
					<p>Address : Sri Lanka, Colmbo</p>
					<p>Contact : 023-456-4589</p>
					<p>E-mail : Sri Lanka, Colmbo</p>
				</div>
			</div>
			<div class="footer__list">
				<div class="footer__list_text">
					<p>Copyright ⓒ Sri Lanka Colombo RDA</p>
				</div>
			</div>
		</div>
	</footer>
</th:block>

</html>