<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SRILANKA</title>
        
		<script type="text/javascript">
		    var __contextPath__ = $('#contextPathHolder').attr('data-contextPath');
		    if(isNull(__contextPath__)) __contextPath__ = '';  
		</script>
    </head>
</th:block>

</html>