@charset 'UTF-8';

#container {
	width: 1300px;
	margin: 50px auto;
	display: flex;
	gap: 50px;
}
#containerTable {
	width: 100%;
}
#containerTable {
	min-height: 600px;
}
@media (max-width: 1280px) {
	#container {
		width: 100%;
		margin: 0 auto; 
		padding: 30px;
	}
	.thead {
		display: none;
	}
}