@charset 'UTF-8';
#Container {
}
.cm-wd-1300 {
	margin:auto;
	width: 1300px;
}
.cm-wdmg-1300 {
	margin:50px auto;
	width: 1300px;
}
.cm-title {
	
}
.cm-title-con {
	display: flex;
	gap: 16px;
	align-items: center;
}
.cm-title-con span {
	font-size:22px;
	font-weight: 400;
}
#noticeTitleText {
	font-weight: 200;	
}
.cm_arrow {
	width: 7px;
}
#mobileSearchWrap {
	display: none;
}
#mainBanner {
	margin-top: 50px;
	position: relative;
	height: 300px;
	overflow: hidden;
	border-radius:20px;
}
#mainBannerImg {
	background:url('/images/mainbanner.png') no-repeat center / cover;
	height: 300px;
}
#mainBannerBg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
}
#mainText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--white);
	z-index: 2;
	font-size:28px;
	font-weight:400;
}
/*자주 찾는 서비스*/
#findServiceTitle {
	font-weight: 400;
	font-size:22px;
}
.cm-list-wrap {
	margin-top:16px ;
	display: flex;
	gap: 16px;
	align-items: center;
}
.service-list {
	padding: 34px;
	width:calc(26% - 16px);
	border-radius: 20px;
}
.service-list:hover .service_more {
	left:10px;
}
.service-list-con {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.service-list-con-title {
	font-size:18px;
	font-weight: 500;
	width: 125px;
}
.service_more {
	transition:0.5s;
	position: absolute;
	bottom: 0;
	left: 0;
}
.service-blue {
	background: #E1F4FF;
}
.service-skyblue {
	background: #DDFDFF;
}
.service-green {
	background: #D6FDEF;
}
.service-violet {
	background: #EAECFF;
}

/*공지사항*/
#noticeWrap {
	padding: 50px;
	background:#F2F3F8 ;
}
.notice__list {
	padding: 31px;
	width: calc(33.7% - 16px);
	border-radius:20px ;
	background: var(--white);
	transition: 0.2s;
}
.notice__list:hover .notice-title {
	color: #fff;
}
.notice__list:hover .notice-date {
	color: #fff;
}
.notice__list:hover {
	background: #034685;
}
.notice-list-wrap {
	flex-wrap: wrap;
}
.notice-category {
	display: flex;
}
.notice-category span {
	padding:6px 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	background: #EFF4FF;
	color:#2372F8 ;
	font-size: 12px;
	font-weight: 200;
}
.notice-title {
	margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    word-break: break-all;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notice-date {
	color: #929292;
	font-weight: 200;
}

/*faq & 오시는길*/
.cm__list_margin {
	margin-top: 16px;
}
.faq-load-container {
	display: flex;
	flex-wrap: wrap;
	gap:16px;
}
#faq {
	width: 66%;
}
.faq__list_wrap {
	display: flex;
	flex-wrap: wrap;
	gap:16px;
}
.faq__list {
	padding: 16px;
	background: #F2F3F8;
	width: 100%;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
}
.faq__list_con {
	display: flex;
	align-items: center;
	gap: 14px;
	font-weight: 300;
}
.faq-img {
	width: 15px;
}
#road {
	width: 32.7%;
}
#roadCon {
	padding:39px 58px;
	border-radius:20px;
	background:#034685;
	display: flex;
	align-items: center;
	gap: 40px;
}
.road-text {
	font-size: 16px;
	color: #fff;
	font-weight: 300;
}

@media (max-width: 1280px) {
	#mainText {
		font-size:20px ;
	}
	.cm-wd-1300 {
		width: 100%;
		margin:auto;
		padding:30px;
	}
	.cm-wdmg-1300 {
		width: 100%;
		padding:30px;
		margin:0 auto;
	}
	#mobileSearchWrap {
		padding: 30px 30px 0 30px;
		width: 100%;
		position: relative;
		display: block;
	}
	#searchContent {
		padding: 18px;
		width: 100%;
		border-radius: 16px;
	}
	#searchIcon {
		top: 13px;
	    right: 16px;
	    width: 27px;
	}
	#mainBanner {
		margin:0;
	}
	#mainBannerImg {
		border-radius: 20px;
		height: 250px;
	}
	.service-list {
		flex-basis: 45%;
		flex-grow: 1;
	}
	.service-order1 {
		order: 1;
		width: 100%;
        text-align: center;
	}
	.service-order2 {
		order: 2;
		width: 100%;
        text-align: center;
	}
	.service-list-con-title {
		width: auto;
	}
	.service_img {
		width: 50px;
	}
	.service_more {
		display: none;
	}
	.service-list-con {
		flex-wrap: wrap;
		gap: 8px;
	}
	.cm-list-wrap {
		flex-wrap: wrap;
	}
	/*공지사항*/
	#noticeWrap {
		padding: 0;
	}
	.notice__list {
		flex-basis: 45%;
		flex-grow: 1;
	}
	/*faq*/
	#faq {
		width: 100%;
	}
	/*오시는 길*/
	#road {
		margin-top: 20px;
		width: 100%;
	}
	#roadCon {
		justify-content: space-between;
	}
}  
@media (max-width: 768px) {
	#mainBanner {
		padding-bottom: 0;
		height: auto;
	}
	#mainBannerImg {
		height: 200px;
	}
	#mainText {
		top: 57%;
		font-size:14px;
	}
	.cm-wdmg-1300 {
		padding: 30px;
	}
	.service-list-con-title {
		font-size: 14px;
	}
	#findServiceTitle {
		font-size: 18px;
	}
	.cm-title-con span {
		font-size: 18px;
	}
	.service_img {
		width: 40px;
	}
	.cm-list-wrap {
		margin-top: 8px;
	}
	.service-list {
		flex-basis: 100%;
	}
	.notice-contain {
		overflow: auto;
	}
	.notice-list-wrap {
		width: 800px;
	}
	.notice__list {
		flex-basis: 16%;
	}
	.notice-title {
		max-width: 120px;
	}
	.notice__list:nth-child(5), .notice__list:nth-child(6) {
		display: none;
	}
	#roadCon {
		justify-content: center;
		flex-wrap: wrap;
	}
} 